.main-header {
    background-color: var(--main-color);
    color: var(--white-color);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 99;
  }

.main-header .dropdown button{
    box-shadow: none;
    padding: 6px 4px;
}

.main-header .user-detailes .username{
    padding: 0 4px;
    margin: 0;
}